<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="/index.html">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="/index.html">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages | sort:"order" %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
      <!<hr style="margin-top:0.1em;margin-bottom:0.1em;color:gray;border-width:0;height:2px;background-color:gray">
      <a class="sidebar-nav-item" href="/files/CV.pdf" target="_blank">CV</a>
      <a class="sidebar-nav-item" href=https://ui.adsabs.harvard.edu/search/q=klion%2C%20h&sort=date%20desc%2C%20bibcode%20desc&p_=0 target="_blank">ADS</a>
      <a class="sidebar-nav-item" href="https://scholar.google.com/citations?hl=en&user=Td1D_bsAAAAJ&view_op=list_works&sortby=pubdate" target="_blank">Google Scholar</a>
      <a class="sidebar-nav-item" href="https://www.github.com/hklion" target="_blank">Github</a>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
